<?xml version="1.0"?>
<config>
	<node>
		<name>Matuguinao Rural Health Unit</name>
		<code>036917000</code>
		<telephone></telephone>
		<level>self</level>
		<hfid>DOH000000000007868</hfid>
	</node>
	<node>
		<name>Matuguinao Rural Health Unit</name>
		<code>036917000</code>
		<telephone></telephone>
		<level>parent</level>
		<hfid>DOH000000000007868</hfid>
	</node>
	<node>
		<name>Matuguinao Rural Health Unit</name>
		<code>036917000</code>
		<telephone></telephone>
		<level>child</level>
		<hfid>DOH000000000007868</hfid>
	</node>
</config>
