h1 {
  /*margin:20px 0 40px 0;*/ 
  text-align:center; 
  font-size:1.5em;
  color:white;
  text-shadow: 2px 2px 2px #000000;
}

h2{
  text-align:center; 
  font-size:1.3em;
  color:white;
  text-shadow: 2px 2px 2px #000000;
}

h3{
  font-style: italic;
  text-align:center; 
  font-size:1.1em;
  color:white;
  text-shadow: 2px 2px 2px #000000;
}
.shadow{
  font-size:1.1em;
  color:white;
  text-shadow: 2px 2px 2px #000000;
}

div#container{
  width: 898px;
  margin: 0 auto;
}
div#contain{
  width: 
}
div#head{
background: #b4ddb4; /* Old browsers */
background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 7%, #52b152 31%, #008a00 57%, #005700 86%, #002400 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(7%,#83c783), color-stop(31%,#52b152), color-stop(57%,#008a00), color-stop(86%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 7%,#52b152 31%,#008a00 57%,#005700 86%,#002400 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b4ddb4 0%,#83c783 7%,#52b152 31%,#008a00 57%,#005700 86%,#002400 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b4ddb4 0%,#83c783 7%,#52b152 31%,#008a00 57%,#005700 86%,#002400 100%); /* IE10+ */
background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 7%,#52b152 31%,#008a00 57%,#005700 86%,#002400 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
margin-left:-8;
width:898px;

}


div#header{
  /*background-color:#008A00;*/
background: #002400; /* Old browsers */
background: -moz-linear-gradient(top, #002400 0%, #005700 17%, #008a00 45%, #52b152 71%, #83c783 93%, #b4ddb4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002400), color-stop(17%,#005700), color-stop(45%,#008a00), color-stop(71%,#52b152), color-stop(93%,#83c783), color-stop(100%,#b4ddb4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #002400 0%,#005700 17%,#008a00 45%,#52b152 71%,#83c783 93%,#b4ddb4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #002400 0%,#005700 17%,#008a00 45%,#52b152 71%,#83c783 93%,#b4ddb4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #002400 0%,#005700 17%,#008a00 45%,#52b152 71%,#83c783 93%,#b4ddb4 100%); /* IE10+ */
background: linear-gradient(to bottom, #002400 0%,#005700 17%,#008a00 45%,#52b152 71%,#83c783 93%,#b4ddb4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#b4ddb4',GradientType=0 ); /* IE6-9 */
}
div#footer{
  /*background-color:#008A00;*/
background: #002400; /* Old browsers */
background: -moz-linear-gradient(top, #002400 0%, #005700 17%, #008a00 45%, #52b152 71%, #83c783 93%, #b4ddb4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002400), color-stop(17%,#005700), color-stop(45%,#008a00), color-stop(71%,#52b152), color-stop(93%,#83c783), color-stop(100%,#b4ddb4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #002400 0%,#005700 17%,#008a00 45%,#52b152 71%,#83c783 93%,#b4ddb4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #002400 0%,#005700 17%,#008a00 45%,#52b152 71%,#83c783 93%,#b4ddb4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #002400 0%,#005700 17%,#008a00 45%,#52b152 71%,#83c783 93%,#b4ddb4 100%); /* IE10+ */
background: linear-gradient(to bottom, #002400 0%,#005700 17%,#008a00 45%,#52b152 71%,#83c783 93%,#b4ddb4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#b4ddb4',GradientType=0 ); /* IE6-9 */
}

div#body{
  background-color:#F8F8F8;
}

div#submit{
  text-align: center;
  margin: 0 auto 50px;
}

body, div, p, h1, h2, h3, h4, table, tr, th, td{
  margin: 0;
  padding: 0;
}

body{
  font:normal 85% sans-serif;
}

table{
  width:500px;
  margin:0 auto;
  /*border:1px solid #000000;*/
  font:normal 100% sans-serif;
  border-collapse:collapse;
}

table#expiry{
  width:260px;
  margin-left:0;
  font:normal 100% sans-serif;
  border-collapse:collapse;
}

table#philhealth{
  width:850px;
  margin:0 auto;
  font:normal 100% sans-serif;
  border-collapse:collapse;
}

button img{
  width: 30px;
  height: 30px;
}

button{
  border: 0;
  background: transparent;
}

.border td, .border th, .border tr{
  border:1px solid #000000;
 }
/*tr,th,td{
  border:1px solid #000000;
}*/
table.width600{
  width: 600px;
}
table.width650{
  width: 650px;
}
table.width700{
  width: 700px;
}
table.width750{
  width: 750px;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

/*.border{
  border:1px solid #000000;
}*/

.coin {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  margin: 15px;
  display: inline-block;
  line-height: 50px;
  font-size: 20px;
}
a:link, a:visited, a:active{
  color:#000000;
  text-decoration: none;
}
a#other:link, a#other:visited, a#other:active{
  color:#FFFFFF;
  text-decoration: none;
}
a#undefined:link, a#undefined:visited, a#undefined:active{
  color:#CC0000;
  text-decoration: none;
}
a#undefined:hover{
  font-weight:bold;
}
a:hover,a#other:hover {
  color:#CC0000;
}
.mouseover:hover{
	background-color:yellow;
}
/*th, td{
  text-align:center;
  border:1px solid #000000;
}*/

label{
  font-weight: bold;
}

.columns{
  -moz-column-count: 2;
  -moz-column-gap: 100px;
  -webkit-column-count: 2;
  -webkit-column-gap: 100px;
  column-count: 2;
  column-gap: 100px;  
}

.columns2{
  -moz-column-count: 2;
  -moz-column-gap: 80px;
  -webkit-column-count: 2;
  -webkit-column-gap: 80px;
  column-count: 2;
  column-gap: 80px;  
}

.columns3{
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 30px;
  column-count: 2;
  column-gap: 30px;  
}

.columns4{
  -moz-column-count: 4;
  -moz-column-gap: 2px;
  -webkit-column-count: 4;
  -webkit-column-gap: 2px;
  column-count: 4;
  column-gap: 2px;  
}

.columns5{
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;  
}

.columns6{
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  column-count: 3;
  column-gap: 10px;  
}
 
.center{
  text-align: center;
}

.center input{
  text-align: right;
}

.inputWidth input{
	width: 60px;
}

.indent21{
padding-left:21px;
}
.indent{
  padding-left:20px;
}
.indent10{
  padding-left:10px;
}
.indent70{
  padding-left:70px;
}

.indent90{
  padding-left:90px;
}

.indent200{
  padding-left:200px;
}

.indent275{
  padding-left:275px;
}

.width21{
  width: 21px;
  display: inline-block;
}


.width25{
  width: 25px;
  display: inline-block;
}

.width30{
  width: 30px;
  display: inline-block;
}

.width50{
  width: 50px;
  display: inline-block;
}

.width70{
  width: 70px;
  display: inline-block;
}

.width85{
  width: 85px;
  display: inline-block;
}

.width90{
  width: 90px;
  display: inline-block;
}

.width100{
  width: 100px;
  display: inline-block;
}

.width110{
  width: 110;
  display: inline-block;
}

.width125{
  width: 125;
  display: inline-block;
}

.width150{
  width: 150px;
  display: inline-block;
}

.width180{
  width: 180px;
  display: inline-block;
}

.width350{
  width:350px;
  display: inline-block;
}

.width450{
  width:450px;
  display: inline-block;
}

.width200{
  width: 200px;
  display: inline-block;
}

.width285{
  width: 285px;
  display: inline-block;
}
.width450Div{
  width: 450px;
  margin: 0 auto;
}
.width750{
  width: 750px; 
  margin: 0 auto;
}
